<% @title = "Resistor Page 5" %>   
<section role="main">
  <div class="pagination"><h1 class="paginator">5</h1></div>   
  <div class="details-page">
    <div class="details-left">
      <h2 class="orange-accent">DATE:</h2>
      <h2 class="orange-accent">CLIENT:</h2>
      <h2 class="orange-accent">PROJECT:</h2>
    </div>
    <div class="details-right">
      <h2>00 / 00 / 00</h2>
      <h2>Client Name</h2>
      <h2>Name of Project</h2>
    </div>          
  </div>
  <div class="page-content">
    <h2 class="orange-accent">ABOUT RESISTOR SOFTWARE CONT...</h2>
    
    <h2>Clients</h2>
    <p>Our clients include national and multinational companies such 
       as <massive company ltd> and <even more massive company ltd>, as well as smaller businesses, such as <small business ltd> and <smaller business ltd>.
    </p>
    
    <h2>Testimonials</h2>
    <p>If you’re going to be building your business based on systems a web development company has created, it’s important you can rely on them.</p>
    
    <h2>Here’s what some of our customers say about us:</h2>
    <h1 class="reviews">“Working with Resistor Software is amazing. <br>Those guys rock”.</h1>
    <h3>- John Smith, <span class="grey">Pizza Corp</span></h3>
    
    <h1 class="reviews">“The reason we use Resistor Software is that as well as producing really high-quality work, they're reliable, easy to deal with 
      and able to turn around quick deadlines. I can't recommend Dave and his team enough!”</h1>
    <h3>- Peter Piper, <span class="grey">Random Company</span></h3>
    
    <h1 class="reviews">“The reason we use Resistor Software is that as well as producing really high-quality work, they're reliable, easy to deal with
      and able to turn around quick deadlines. I can't recommend Dave and his team enough!”</h1>
    <h3>- Peter Piper, <span class="grey">Random Company</span></h3>     
   
   </div>   
  <div class="little-pkg-3"></div>
</section>



                                   