<% @title = "Resistor Page 4" %>   
<section role="main">
  <div class="pagination"><h1 class="paginator">4</h1></div>   
  <div class="details-page">
    <div class="details-left">
      <h2 class="orange-accent">DATE:</h2>
      <h2 class="orange-accent">CLIENT:</h2>
      <h2 class="orange-accent">PROJECT:</h2>
    </div>
    <div class="details-right">
      <h2>00 / 00 / 00</h2>
      <h2>Client Name</h2>
      <h2>Name of Project</h2>
    </div>          
  </div>
  <div class="page-content">
    <h2 class="orange-accent">BUDGET CONT...</h2>
    
    <h2>Website Hosting</h2>
    <p>More <budget>details.</p>
    
    <h2>Optional extras:</h2>
    <p>Email design, setup and training <budget>.</p>
    
    <h2>Monthly email cost:</h2>
    <p><budget>/month (for up to 500 subscribers).</p>
      
    <h2>Onsite training:</h2>
    <p>This is where the <budget>would sit.</p>
      
    <h2>Timescale:</h2>
    <p>We would anticipate the project taking 10-14 weeks to complete. The exact speed of design & development will be affected by client turnaround times, for example responding to designs etc.</p>  
      
    <h2 class="orange-accent">ABOUT RESISTOR SOFTWARE</h2>         
    <p>We’re a small company that helps our clients get impressive results from their websites.</p>
    
    <p>We believe what matters about a company’s website isn’t based on core aesthetics alone, or even how clever the programming is, it’s how successful the site is.  And as any good business person knows, success doesn’t come overnight.</p>
    
    <p>That’s why we like to work with you over a reasonable period of time to gradually improve the results your website achieves.</p>  
   
   </div>   
  <div class="little-pkg"></div>
</section>



