<% @title = "Resistor Cover Letter" %>   

<!--start header-->
  <div id="cover-header">  
    <div class="proposal-heading">
      <div class="proposal-left left">
        <img src="images/KISS-logo-718E85BD3B-seeklogo.com.gif" alt="placeholder" height="110" width="110" style="padding:8px 12px";/>
      </div>
      <div class="proposal-right right">
        <h2>Website Design & Development Proposal for:</h2>
        <h1 class="client">Example Company</h1>
        <h3>© Resistor Software 2001</h3>
      </div>
    </div>
    <div class="cover-logo"></div>
    <div class="address-band">
      <h2 class="tag"><span class="white">E: </span><a href="mailto:info@resistor.com?Subject=Hello%20again">INFO@RESISTORSOFTWARE.COM</a> &nbsp; <span class="white">WWW:</span> <a href="http://www.resistorsoftware.com/">RESISTORSOFTWARE.COM</span></a></h2>
    </div>                   
