<% @title = "Resistor Page 5" %>   
<section role="main">
  <div class="pagination"><h1 class="paginator">7</h1></div>   
  <div class="details-page">
    <div class="details-left">
      <h2 class="orange-accent">DATE:</h2>
      <h2 class="orange-accent">CLIENT:</h2>
      <h2 class="orange-accent">PROJECT:</h2>
    </div>
    <div class="details-right">
      <h2>00 / 00 / 00</h2>
      <h2>Client Name</h2>
      <h2>Name of Project</h2>
    </div>          
  </div>
  <div class="page-content">

    <h2 class="orange-accent">THE DULL STUFF</h2>
    
    <p>This proposal is valid for 2 months from the date at the top.</p>
    <p>A 40% deposit is due prior to project commencement.  The balance is payable on completion.</p>
    <p>This proposal is for information purposes only and does not form a contract.</p>
    <p>We aren’t currently VAT registered.</p>
    
    <h2 class="orange-accent">Thanks!</h2>
    <p>Thanks for considering working with us … we really appreciate it! <br> 
       If you’ve got any questions, just ask us and we’ll try to answer them. <br> 
    </p>     
    
    <h2>Email us at: <a href="mailto:info@resistor.com?Subject=Hello%20again">info@resistorsoftware.com </a> or call Dave on 800 000 800.</h2>    
    
   </div>   
  <div class="little-pkg-2"></div>
</section>



