<% @title = "Resistor Page 2" %>   
<section role="main">
  <div class="details">
    <div class="details-left">
      <h2 class="orange-accent">DATE:</h2>
      <h2 class="orange-accent">CLIENT:</h2>
      <h2 class="orange-accent">PROJECT:</h2>
    </div>
    <div class="details-right">
      <h2>00 / 00 / 00</h2>
      <h2>Client Name</h2>
      <h2>Name of Project</h2>
    </div>          
  </div>
  <div class="cover-content">
    <h1>Greetings</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras cursus 
      tempus aliquet. Cras tristique neque ac dui iaculis mattis. Suspendisse 
      potenti. Nunc nisi quam, accumsan sit amet tincidunt sed, ornare at augue. 
      Phasellus blandit sapien ac nulla varius non semper purus viverra. 
      Nam placerat velit suscipit augue ultrices viverra. Mauris condimentum 
      venenatis posuere. Curabitur vel felis in sem eleifend tempor. 
      Morbi et molestie nisl. Aliquam semper est et magna molestie in 
      auctor neque imperdiet.
    </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras cursus 
      tempus aliquet. Cras tristique neque ac dui iaculis mattis. Suspendisse 
      potenti. Nunc nisi quam, accumsan sit amet tincidunt sed, ornare at augue. 
      Phasellus blandit sapien ac nulla.
    </p>

    <h1>Regards,</h1>
    <h1 class="author">Dave</h1>                       
  </div>
  
<div class="little-pkg"></div>
</section>



                                   