<% @title = "Resistor Page 5" %>   
<section role="main">
  <div class="pagination"><h1 class="paginator">5</h1></div>   
  <div class="details-page">
    <div class="details-left">
      <h2 class="orange-accent">DATE:</h2>
      <h2 class="orange-accent">CLIENT:</h2>
      <h2 class="orange-accent">PROJECT:</h2>
    </div>
    <div class="details-right">
      <h2>00 / 00 / 00</h2>
      <h2>Client Name</h2>
      <h2>Name of Project</h2>
    </div>          
  </div>
  <div class="page-content">
    <p>
    <h2 class="orange-accent">ABOUT RESISTOR SOFTWARE CONT...</h2>
    
    <h2>The Team</h2>
    <h2>Dave Founder, Designer / Owner</h2>
    <h2>Somebody Co-Founder, Developer</h2> 
    <h2>Somebody Come-lately, Junior Designer</h2>     
    </p>
    <p>
    <h2>Additional Experts:</h2>
    <h2>That Windows Guy -  C#, Perl and Asp.Net</h2>
    <h2>Will Shakes-Pier, Copywriter</h2> 
    <h2>Jaz Script, Another Rubist Extraordinaire </h2>    
    </p>
    <p>
    <h2>Misc. Notes</h2>
    
    <p>This could be some final notes regarding the way the team could work.</p>
    </p>
   </div>   
  <div class="little-pkg"></div>
</section>



