<% @title = "Resistor Page 3" %>   
<section role="main">
  <div class="details-page">
    <div class="details-left">
      <h2 class="orange-accent">DATE:</h2>
      <h2 class="orange-accent">CLIENT:</h2>
      <h2 class="orange-accent">PROJECT:</h2>
    </div>
    <div class="details-right">
      <h2>00 / 00 / 00</h2>
      <h2>Client Name</h2>
      <h2>Name of Project</h2>
    </div>          
  </div>
  <div class="page-content">
    <h2 class="orange-accent">OPTIONAL</h2>
    <p>We anticipate the client has a relatively small number of high-value customers.  Therefore it is worth considering creating some custom-designed email newsletter and promotional templates to keep in touch with the customers and increase customer loyalty and brand awareness.</p>
    
    <h2>This is an optional extra and would include:</h2>
     <ul class="tasks">
       <li>Setup of email marketing system for capturing email addresses.</li>
       <li>Creation of email newsletter and promotional templates.</li>
       <li>Testing of emails in multiple email software, including on iPhone, iPad, Blackberry.</li>
       <li>Remote training with email marketing system, delivered via Skype. (0.75 hours) 	Note, onsite training can be arranged for an additional cost.</li>
     </ul>
     <h2 class="orange-accent">BUDGET</h2> 
     
     <h2>Website design & development</h2>
     <p>The budget for the design & development of the website, including integration <br>with the CMS would be <budget>.</p>
    
     <h2>Images</h2>
     <p>Image research is included in the budget. The price of purchasing images or custom photography is additional. All image purchases will be agreed with the client in advance.</p>
    
     <h2>Copy writing</h2>
     <p>Copy is to be supplied by the client, therefore we have not quoted for it. <br>Should additional copy be required we shall be happy to quote for it.</p>
    
     <h2>Training</h2>
     <p>Remote (Skype) training and CMS user guide (generally delivered as training videos)<br> is included within the budget.</p>
     
    
  <div class="little-pkg"></div>
</section>



