<% @title = "Resistor Page 2" %>   
<section role="main">
  <div class="details-page">
    <div class="details-left">
      <h2 class="orange-accent">DATE:</h2>
      <h2 class="orange-accent">CLIENT:</h2>
      <h2 class="orange-accent">PROJECT:</h2>
    </div>
    <div class="details-right">
      <h2>00 / 00 / 00</h2>
      <h2>Client Name</h2>
      <h2>Name of Project</h2>
    </div>          
  </div>
  <div class="page-content">
    <h2 class="orange-accent">PROJECT DESCRIPTION</h2>
    <p>The project will involve designing a website for <client name>, a widget wholesaler from something.</p>
    
    <p>The website will be designed to the very highest standard and will reflect client name’s established corporate identity.</p>
    
    <p>We will design the site with Google in mind, however a further online marketing campaign using search engine optimization (SEO)
       is strongly recommended at some stage in the future, in order to maximize the number of visitors to the site.  This work can be 
       done by us, or can be done by another suitable agency.
    </p>
     
    <p>We also recommend building up a mailing list of potential and current clients, in order to send a monthly newsletter to 
       them with good news + special offers. We recommend <MailChimp> or something else.
    </p>
    
    <h2 class="orange-accent">SCOPE:</h2>
    <h2>We would undertake to do the following: </h2>
    <ul class="tasks">
      
      <li><h2 class="orange-accent">IMAGE RESEARCH:</h2>
        Photoshop / Illustrator Design can be provided if no branding exists. <br>
        This branding or “look and feel”, based on this wireframes
        & client suggestions. Up to 3 alternative look-and-feel versions are included in the quote. All changes will need to be signed-off.
      </li>
      
      <li>Planning  / Wireframes : Using <Balsamiq> or <MockingBird> will be used to capture all the requirements and needs of the website.</li>
      
      <li>Design of up to 20 interior page templates, based on signed off wireframes. <br> Up to 10 iterations of  
      	each are included in the quote as standard.
      </li>
    
      <li>Coding and cross-browser testing of all templates.</li>
    
      <li>Extensive cross-browser testing at multiple resolutions.</li>
    
      <li>Creation of up to 8 contact / enquiry forms, if required.</li>
    
      <li>Pages to be coded to be SEO friendly.  Note: Keyword research and <br>
        other SEO is not included in this quote.</li>
    </ul>    
  </div>
  
  <div class="little-pkg"></div>
</section>



                                   